<!doctype html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>以芢工具 - URI短短链生成</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
</head>
<body>
<div id="app">
    <div class="title">短链生成器</div>
    <form id="form" onsubmit="return false" action="#" class="form-inline text-center">
      <span id="head_wrapper">
        <input id="original" type="text" class="form-control" placeholder="原始地址" name="original"/>
      </span>
        <span>
        <input type="submit" onclick="transfer()" class="btn btn-info" value="转换"/>
      </span>
    </form>
    <div id="text-container">
        <a id="short-uri" class="short-uri" href="#" target="_blank"></a>
        <input class="btn-copy" id="click-copy" data-clipboard-action="copy" data-clipboard-target="#short-uri" type="button" value="点击复制">
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/clipboard.min.js}"></script>
<script type="text/javascript">
    const uriAText = $('#short-uri');
    const copyButton = $('#click-copy');
    uriAText.hide();
    copyButton.hide();
    function transfer() {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/generate",
            data: $('#form').serialize(),
            success: function (result) {
                console.log(result);
                if (result.code === 200) {
                    uriAText.text(result.data);
                    uriAText.attr('href', result.data);
                    uriAText.show();
                    copyButton.show();
                }
            },
            error: function () {
                alert("发生错误，请重试！");
            }
        });
    }
    const clip = new ClipboardJS('#click-copy', {
        text: function() {
            return uriAText.text();
        }
    });

    clip.on('success', function(e) {
        alert("复制成功！")
    });

    clip.on('error', function (e) {
        console.log("复制失败！");
    });

</script>
</html>